* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #656565;
}
.container {
  width: 50%;
  height: 65vh;
  background-color: #474949;
  color: white;
  margin: 30px auto;
  border-radius: 5px;
  border: 2px solid #323232;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #323232;
  padding: 30px 20px;
  align-items: center;
}
.stack-step {
  display: flex;
  align-items: center;
  gap: 5px;
}
.stack-step .blue-circle-btn {
  background-color: #919193;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: grid;
  place-items: center;
}
.stack-step .square-shape {
  border: 1px solid white;
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
}

.dash-line {
  border: 1px solid #7a7f80;
  width: 6em;
  margin: 0 10px;
  height: 1px;
}
.body-content {
  height: 64vh;
  width: 100%;
  overflow: hidden;
}
.slider {
  width: 300%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slider .box {
    max-height: 100%;
    width: 100%;
    flex-shrink: 0;
    padding: 20px 30px;
}

.slider .box .content {
    width:31em;
    height: 60%;
    border-radius: 5px;
    padding: 10px;
    background-color: #323232;

}

.next{
    background-color: #1597ff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0  ;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.previous{
    background-color: unset;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

.reset{
    background-color: #21dc6b;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0  ;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}